//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Colour variables
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$sparkling-brook: #BEDDE7;

$lemon-ice: #F7F8CD;

$fortune-cookie: #F0CDA4;

$bakery-box-white: #E5EAE3;

$salvia: #94A48F;
$salvia-dark: adjust-lightness($salvia, -32);

$text: #000;
$text-light: adjust-lightness($text, 32);
$text-lighter: adjust-lightness($text, 48);
