@media screen and (min-width: 1280px) {
    body {
        width: 770px;
    }
}
@media screen and (max-width: 1024px) {
    body {
        width: 70%;
    }
}
@media screen and (max-width: 800px) {
    body {
        width: 80%;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 50%;
    }
}