//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Core styles
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

* {
    @include box-sizing(border-box);
}

html {
    @include background-image(linear-gradient($salvia-dark, $salvia));
    background-attachment: fixed;
    font: 16px/1.5 "Open Sans", sans-serif;
    overflow-y: scroll;
    text-align: center;
}

body {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    color: $bakery-box-white;
}

@media screen and (min-width: 1280px){
    body {
        width: 770px;
    }
}
@media screen and (max-width: 1024px){
    body {
        width: 70%;
    }
}
@media screen and (max-width: 800px){
    body {
        width: 80%;
    }
}
@media (max-width: 480px){
    body {
        width: 90%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font: 100%/1 "Lobster", cursive;
    margin: 1em 0;
    color: $salvia-dark;
}

h1 {
    font-size: 3em;
    padding-bottom: 20px;
    margin: 0;
}

h2 {
    border-bottom: 5px solid white;
    padding-bottom: 15px;
    font-size: 2em;
    margin-top: 1.5em;
}

h3 {
    font-size: 1.67em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.34em;
}

h6 {
    font-size: 1.17em;
}

p {
    margin: 1em 0;
}

em {
    font-style: italic;
    font-weight: bold;
}

ul,
ol {
    margin: 1em 0;
    padding-left: 40px;
}
ol li {
    list-style-type: decimal;
    margin: 1em 0;
}
ul li {
    list-style-type: disc;
}
