@function calc-percent($columns) {
    @return 100% / $columns;
}

#masthead {
    padding: 40px 0 0;
    text-align: center;
    position: relative;

    h1,
    .title {
        font: 4em/1.5 "Lobster", cursive;
        margin: 0;
        @include text-shadow(rgba(#000,.3) 0 4px 0);
    }

    ul {
        clear: both;
        overflow: hidden;
        margin: 10px 0 0;
        padding: 0;
        border: 10px solid white;
        border-width: 10px 5px;

        li {
            float: left;
            display: inline;
            width: calc-percent(3); // number of columns

            a {
                display: block;
                background: $sparkling-brook;
                @include background-image(linear-gradient($sparkling-brook, adjust_lightness($sparkling-brook, -8)));
                @include filter-gradient($sparkling-brook, adjust_lightness($sparkling-brook, -8));
                border: 5px solid white;
                border-width: 0 5px;
                font-weight: bold;
                color: rgba(adjust_lightness($sparkling-brook, -64), 0.5);
                line-height: 2;
                text-decoration: none;

                &:active, &:hover, &:focus {
                    text-decoration: none;
                    background: $lemon-ice;
                    @include background-image(linear-gradient($lemon-ice, adjust_lightness($lemon-ice, -16)));
                    @include filter-gradient($lemon-ice, adjust_lightness($lemon-ice, -16));
                }
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: -25px;
        bottom: 3px;
        border: 20px solid white;
        border-left-color: transparent;
        display: block;
        width: 0;
        z-index: -1;
    }
    &:after {
        content: "";
        position: absolute;
        right: -25px;
        bottom: 3px;
        border: 20px solid white;
        border-right-color: transparent;
        display: block;
        width: 0;
        z-index: -1;
    }
}

#copyright {
    text-align: center;
    font-size: 10px;
}

#site-footer {
    clear: both;
    margin: 20px 0;
}

#masthead a,
#site-footer a {
    color: white;
    text-decoration: none;
    &:active, &:hover, &:focus {
        text-decoration: underline;
    }
}