#masthead h1 {
    font-size: 6em;
}

.blurb {
    margin: 0;
    padding: 20px;
    border: 10px solid white;
    border-top: 0;
    @include border-bottom-radius(20px);
    background: $bakery-box-white;
    color: $text;
}

.recent,
.recent li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.recent {
    margin-top: 20px;
    overflow: hidden;

    li {
        float: left;
        border: 10px solid white;
        @include border-radius(20px);
        background: $bakery-box-white;
        color: $text;
        padding: 20px;
        margin: 10px;
        width: 47.4%;
        @include min-height(124px);

        h2, p {
            margin: 0;
            padding: 0;
            border: 0;
        }

        h2 {
            margin-bottom: 10px;
            font-size: 1.5em;
            line-height: 1.3;
            @include min-height(64px);

            a {
                color: inherit;
                text-decoration: none;

                &:hover, &:focus, &:active {
                    text-decoration: underline;
                }
            }

            img {
                float: left;
                margin-right: 20px;
                @include border-radius(4px);
            }
        }

        p {
            font-size: 13px;
            text-align: right;
            color: $text-lighter;
        }
    }
}