#page {
    padding: 20px;
    border: 10px solid white;
    border-top: 0;
    background: $bakery-box-white;
    @include single-box-shadow(rgba(#000, 0.2), 0, 1px, 20px, 0, inset);
    color: $text;
    @include text-shadow(#fff 0 1px 0);
    margin-bottom: 20px;

    img {
        border:10px solid white;
        width: 50%;
        float: right;
        margin: 0 0 20px 20px;
    }

    h1 {
        border-bottom: 5px solid white;
    }
}
