/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html {
    font: 16px/1.5 "Open Sans", sans-serif;
    overflow-y: scroll;
    text-align: center;
}

body {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font: 100%/1 "Lobster", cursive;
    margin: 1em 0;
}

h1 {
    font-size: 2.5em;
    margin-top: .5em;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3em;
    font-size: 2em;
}

h3 {
    font-size: 1.67em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.34em;
}

h6 {
    font-size: 1.17em;
}
