#masthead h1 {
  font-size: 6em;
}

.blurb {
  padding: 20px;
  border: 10px solid white;
  border-top: 0;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #e5eae3;
  color: black;
}
