html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444f40), color-stop(100%, #94a48f));
  background-image: -webkit-linear-gradient(#444f40, #94a48f);
  background-image: -moz-linear-gradient(#444f40, #94a48f);
  background-image: -o-linear-gradient(#444f40, #94a48f);
  background-image: linear-gradient(#444f40, #94a48f);
  background-attachment: fixed;
  font: 16px/1.5 "Open Sans", sans-serif;
  overflow-y: scroll;
  text-align: center;
}

body {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  color: #e5eae3;
}

h1, h2, h3, h4, h5, h6 {
  font: 100%/1 "Lobster", cursive;
  margin: 1em 0;
  color: #444f40;
}

h1 {
  font-size: 3em;
  padding-bottom: 20px;
  margin: 0;
}

h2 {
  border-bottom: 5px solid white;
  padding-bottom: 15px;
  font-size: 2em;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.67em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.34em;
}

h6 {
  font-size: 1.17em;
}

p {
  margin: 1em 0;
}

ul,
ol {
  margin: 1em 0;
  padding-left: 40px;
}

ol li {
  list-style-type: decimal;
  margin: 1em 0;
}

ul li {
  list-style-type: disc;
}

#masthead {
  padding: 40px 0 0;
  text-align: center;
  position: relative;
}
#masthead h1,
#masthead .title {
  font: 4em/1.5 "Lobster", cursive;
  margin: 0;
  text-shadow: rgba(0, 0, 0, 0.3) 0 2px 0;
}
#masthead ul {
  clear: both;
  margin: 10px 0 0;
  padding: 0;
  border: 10px solid white;
  border-width: 10px 5px;
  overflow: hidden;
}
#masthead ul li {
  float: left;
  display: inline;
  width: 25%;
}
#masthead ul li a {
  display: block;
  background: #bedde7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bedde7), color-stop(100%, #a0cddc));
  background-image: -webkit-linear-gradient(#bedde7, #a0cddc);
  background-image: -moz-linear-gradient(#bedde7, #a0cddc);
  background-image: -o-linear-gradient(#bedde7, #a0cddc);
  background-image: linear-gradient(#bedde7, #a0cddc);
  border: 5px solid white;
  border-width: 0 5px;
  font-weight: bold;
  color: rgba(26, 58, 69, 0.5);
  line-height: 2;
  text-decoration: none;
}
#masthead ul li a:active, #masthead ul li a:hover, #masthead ul li a:focus {
  text-decoration: none;
  background: #f7f8cd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f8cd), color-stop(100%, #ecee85));
  background-image: -webkit-linear-gradient(#f7f8cd, #ecee85);
  background-image: -moz-linear-gradient(#f7f8cd, #ecee85);
  background-image: -o-linear-gradient(#f7f8cd, #ecee85);
  background-image: linear-gradient(#f7f8cd, #ecee85);
}
#masthead:before {
  content: "";
  position: absolute;
  left: -25px;
  bottom: 0;
  border: 20px solid white;
  border-left-color: transparent;
  display: block;
  width: 0;
  z-index: -1;
}
#masthead:after {
  content: "";
  position: absolute;
  right: -25px;
  bottom: 0;
  border: 20px solid white;
  border-right-color: transparent;
  display: block;
  width: 0;
  z-index: -1;
}

#copyright {
  text-align: center;
  font-size: 10px;
}

#site-footer {
  margin-bottom: 20px;
}

#masthead a,
#site-footer a {
  color: white;
  text-decoration: none;
}
#masthead a:active, #masthead a:hover, #masthead a:focus,
#site-footer a:active,
#site-footer a:hover,
#site-footer a:focus {
  text-decoration: underline;
}

#page {
  padding: 20px;
  border: 10px solid white;
  border-top: 0;
  background: #e5eae3;
  -webkit-box-shadow: inset 0 1px 20px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 20px 0 rgba(0, 0, 0, 0.2);
  color: black;
  text-shadow: white 0 1px 0;
  margin-bottom: 20px;
}
#page img {
  border: 10px solid white;
  width: 50%;
  float: right;
  margin: 0 0 20px 20px;
}
#page h1 {
  border-bottom: 5px solid white;
}
