html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444f40), color-stop(100%, #94a48f));
  background-image: -webkit-linear-gradient(#444f40, #94a48f);
  background-image: -moz-linear-gradient(#444f40, #94a48f);
  background-image: -o-linear-gradient(#444f40, #94a48f);
  background-image: linear-gradient(#444f40, #94a48f);
  background-attachment: fixed;
  font: 16px/1.5 "Open Sans", sans-serif;
  overflow-y: scroll;
  text-align: center;
}

body {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  color: #e5eae3;
}

h1, h2, h3, h4, h5, h6 {
  font: 100%/1 "Lobster", cursive;
  margin: 1em 0;
  color: #444f40;
}

h1 {
  font-size: 3em;
  margin: 0 0 0.75em;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3em;
  font-size: 2em;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.67em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.34em;
}

h6 {
  font-size: 1.17em;
}

p {
  margin: 1em 0;
}

ul,
ol {
  margin: 1em 0;
  padding-left: 40px;
}

ol li {
  list-style-type: decimal;
  margin: 1em 0;
}

ul li {
  list-style-type: disc;
}

#masthead {
  padding: 40px;
  text-align: center;
}
#masthead a {
  color: #e5eae3;
  text-decoration: none;
}
#masthead a:active, #masthead a:hover, #masthead a:focus {
  text-decoration: underline;
}
#masthead h1,
#masthead .title {
  font: 4em/1.5 "Lobster", cursive;
  margin: 0;
  text-shadow: rgba(0, 0, 0, 0.3) 0 2px 0;
}

#page {
  padding: 20px;
  border: 10px solid white;
  background: #e5eae3;
  color: black;
  text-shadow: white 0 1px 0;
  margin-bottom: 40px;
}
